body {
	font-family: Arial;
}

.centered {
	text-align: center;
}

.center {
	margin: 0 auto;
	width: 100%;
	text-align: center;
	border-collapse: collapse; 
}

tr {
  border-bottom: 1pt solid black;
}

#header {
	background-color: lightblue;
}

.left {
	text-align: left;
}


.flex-item {
	flex: 30%;
	padding: 5px;
}

img {
	width: 100%;
}

.flex-container {
	display: flex;
}