body {
	font-family: Arial;
}

.centered {
	text-align: center;
}

.center {
	margin: 0 auto;
	width: 100%;
	text-align: center;
	border-collapse: collapse; 
}

tr {
  border-bottom: 1pt solid black;
}

#header {
	background-color: lightblue;
}

.left {
	text-align: left;
}


.flex-item {
	flex: 30%;
	padding: 5px;
}

img {
	width: 100%;
}

.flex-container {
	display: flex;
}

#blue {
	color: blueviolet;
}

circle {
	fill: limegreen;
	opacity: 50%;
}

rect {
	fill: limegreen;
	stroke: black;
	stroke-width: 4;
}

circle:hover {
	stroke: black;
	stroke-width: 4;
}

rect:hover {
	fill: darkgoldenrod;
}

.space {
	text-align:center;
}

svg {
	margin: 50px;
}